<h1>Welcome</h1>

{% for student in students %}
    <p>
        {{student.roll_no}}
        {{student.name}}
        {{student.department}}
        {{student.joining_year}}
        {{student.room_no}}
        {{student.blood_group}}
        {{student.contact_number}}
        {{student.address}}
        {{student.gender}}
        {{student.email}}
        {{student.father_name}}
        {{student.father_contact_number}}
        {{student.mother_name}}
        {{student.mother_contact_number}}
        {{student.guardian_name}}
        {{student.guardian_contact_number}}
    </p>
{% endfor %}